apscheduler==3.6.3; python_version >= "3.7"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
bs4==0.0.1
cachetools==4.2.2; python_version >= "3.7" and python_version < "4.0"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
feedparser==6.0.10; python_version >= "3.6"
idna==3.3; python_version >= "3.7" and python_version < "4"
psutil==5.9.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
python-telegram-bot==13.13; python_version >= "3.7"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pytz==2022.1; python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
sgmllib3k==1.0.0; python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
tornado==6.2; python_version >= "3.7"
tzdata==2022.1; platform_system == "Windows" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
tzlocal==4.2; python_version >= "3.7"
urllib3==1.26.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
