APScheduler==3.6.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
cryptography==3.3.2
decorator==4.4.2
feedparser==6.0.2
psutil==5.8.0
pycparser==2.20
python-telegram-bot==13.1
pytz==2020.5
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.1
tornado==6.1
tzlocal==2.1
